.ButtonCell {
  width: 25%;
  padding: 1px;
}

.CalcButton {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

.CalcButton_num {
  background-color: #777;
  color: #eee;
}

.CalcButton_operator {

}