.CalculatorBlock {
  margin: 50px auto;
  width: 400px;
  padding: 10px;
  background-color: #444;
  border-radius: 6px;
}

.ExpressionScreen,
.ResultScreen {
  width: 100%;
  color: #eee;
  text-align: right;
}

.ExpressionScreen {
  height: 32px;
  border: none;
  outline: none;
  background-color: #444;
  color: #999;
  border-bottom: 1px solid #555;
  font-size: 24px;
}

.ResultScreen {
  height: 48px;
  font-size: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 48px;
}

.ClearBlock {
  padding: 5px 1px 1px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #555;
}

.ClearButton {
  height: 50px;
  font-size: 18px;
  width: 188px;
  border: none;
  border-radius: 4px;
  margin-left: -2px;
  color: #eeeeee;
  background-color: royalblue;
  font-weight: bold;
  text-transform: uppercase;
}